<IfModule mod_rewrite.c>

# Activar el motor de reescritura
RewriteEngine On

# Redirección HTTP a HTTPS
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^teampcmx\.com [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Manejo de URLs amigables:
# Solo si no es un archivo ni directorio existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribir URLs en el formato: dominio.com/controller/action
RewriteRule ^([^/]+)/([^/]+)/(.*)$ index.php?controller=$1&action=$2&params=$3 [L,QSA]

# /controller/action
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?controller=$1&action=$2 [L,QSA]

# /controller → usa acción "index"
#RewriteRule ^([^/]+)/?$ index.php?controller=$1&action=index [L,QSA]

</IfModule>

# Páginas de error personalizadas
ErrorDocument 301 /webgorillasystems/Errors/301.php
ErrorDocument 302 /webgorillasystems/Errors/302.php
ErrorDocument 400 /webgorillasystems/Errors/400.php
ErrorDocument 401 /webgorillasystems/Errors/401.php
ErrorDocument 403 /webgorillasystems/Errors/403.php
ErrorDocument 404 /webgorillasystems/Errors/404.php
ErrorDocument 500 /webgorillasystems/Errors/500.php
ErrorDocument 502 /webgorillasystems/Errors/502.php
ErrorDocument 503 /webgorillasystems/Errors/503.php

# Configuración de PHP (generada por cPanel)
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81___lsphp .php .php8 .phtml
</IfModule>